body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}
pre {
    background: #eee;
    padding: 0.25em 0.5em;
    font-family: inherit;
    font-size: inherit;
}
* {
    font-family: inherit !important;
    font-size: inherit !important;
}
